@charset "UTF-8";
.button {
	width: 75px;
	height: 30px;
	border: 0;
	outline: none;
	border-radius: 40px;
	background: RED;
	color: white;
	letter-spacing: 2px;
	font-weight: bold;
	box-shadow: 1px 1px 1px 1px #aaa;	
}
.button:hover { 
	color:black; 
	background-color: skyblue; 
	box-shadow: 0.08px 0.08px 0.08px 0.08px gray;
}
.text_area input {
	width: 150px;
	height: 30px;
	border-radius: 30px;
	margin-top: 1px;
	padding: 0px 20px;
	border: 1px solid lightgray;
	outline: none;
}