@charset "UTF-8";
.content {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    margin-left: 110px;
}
.oneContent {
    background: #EEEEEE;
    margin: 7px;
    padding: 15px;
}
.comment {
	background: #EEEEEE;
    padding: 15px;
}
.layout {
    margin-left: 110px;
    margin-right: 110px;
}